{% extends 'base.html' %}
{% block title %}Editar Solicitação{% endblock %}

{% block content %}
<div class="container mx-auto p-6 bg-white rounded shadow-md mt-6">
    <h2 class="text-2xl font-bold mb-4">Editar Solicitação</h2>

    <form method="POST">
        {% csrf_token %}
        <!--Nome-->
        <div class="mb-4">
            <label class="block font-semibold mb-1">Nome</label>
            <input type="text" name="nome" value="{{ solicitacao.nome }}" required class="w-full p-2 border rounded">
        </div>

        <!-- Descrição -->
        <div class="mb-4">
            <label for="desc" class="block font-semibold mb-1">Descrição:</label>
            <textarea name="desc" id="desc" rows="3"
                class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-blue-300">{{ solicitacao.desc }}</textarea>
        </div>

        <!-- Observações -->
        <div class="mb-4">
            <label for="obs" class="block font-semibold mb-1">Observações:</label>
            <textarea name="obs" id="obs" rows="3"
                class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-blue-300">{{ solicitacao.obs }}</textarea>
        </div>

        <!-- Data Prevista -->
        <div class="mb-4">
            <label for="data_prevista_desbloqueio" class="block font-semibold mb-1">Data Prevista:</label>
            <input type="date" name="data_prevista_desbloqueio" id="data_prevista_desbloqueio"
                value="{{ solicitacao.data_prevista_desbloqueio|date:'Y-m-d' }}"
                class="w-full p-2 border rounded focus:outline-none focus:ring focus:ring-blue-300">
        </div>

        <!-- Botões -->
        <div class="flex justify-end space-x-3 pt-4">
            <a href="{% url 'solicitacoes:detalhar_solicitacao' solicitacao.id %}" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
                Cancelar
            </a>
            <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
                Salvar
            </button>
        </div>
    </form>
</div>
{% endblock %}
